@import "fonts.scss";

@import "resetCSS.scss";

@mixin center {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

%button {
	text-decoration: none;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #333333;
	text-transform: uppercase;
	padding: 25px 50px;
	background-color: white;
	border-radius: 30px;
}

$font-U: "Ubuntu", sans-serif;

.wrapper {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	header {
		height: 140px;
		background-color: #ebecee;
		.logo {
			margin-top: 50px;
			margin-left: 3.75%;
			display: inline-block;
		}
		.menu {
			display: inline-block;
			margin-left: 60%;
			position: relative;
			top: -15px;
			ul {
				display: flex;
				justify-content: space-between;
				width: 350px;
				li {
					a {
						font-family: $font-U;
						font-weight: 500;
						font-size: 16px;
						text-decoration: none;
						color: #333333;
					}
				}
			}
		}
		.btn-h {
			display: inline-block;
			margin-left: 3%;
			position: relative;
			top: -15px;
			a {
				@extend %button;
			}
		}
	}
	.container2 {
		background-image: url("/css/image/background.png");
		height: calc(100vh - 140px);
		background-repeat: no-repeat;
		background-position-x: 100%;
		background-color: #ebecee;
		background-size: contain;
		max-height: 950px;
		h1 {
			color: #222222;
			font-family: "Ubuntu", sans-serif;
			font-weight: 300;
			font-size: 60px;
			margin-left: 12.5%;
			padding-top: 325px;
			padding-bottom: 55px;
		}
		a {
			text-decoration: none;
			color: #333333;
			font-family: "Ubuntu", sans-serif;
			font-weight: 700;
			font-size: 14px;
			padding: 25px 100px;
			background-color: white;
			border-radius: 30px;
			margin-left: 21.87%;
		}
	}
	.container3 {
		font-family: "Ubuntu", sans-serif;
		@include center;
		h2 {
			font-weight: 300;
			font-size: 30px;
			padding-top: 95px;
			padding-bottom: 30px;
			text-align: center;
		}
		.top-h2 {
			font-weight: 300;
			font-size: 14px;
			padding-bottom: 45px;
			text-align: center;
		}
		.flexbox {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			flex-basis: 33.3%;
			.textbox {
				height: 240px;
				flex-basis: 378px;
				display: flex;
				flex-wrap: wrap;
				align-content: flex-start;
				.one-text {
					font-size: 22px;
					font-weight: 300;
					padding: 36px 0 18px 34px;
				}
				.two-text {
					font-size: 14px;
					font-weight: 300;
					padding-left: 34px;
				}
			}
		}
	}
	.container4 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		background-color: #f8f8f8;
		.item {
			margin: auto;
			span {
				font-family: "Ubuntu", sans-serif;
				font-weight: 300;
				font-size: 30px;
				color: #141311;
				margin-left: 25%;
				display: block;
				margin-top: 20%;
			}
			i {
				width: 35px;
				height: 2px;
				display: block;
				background-color: black;
				margin-top: 12px;
				margin-bottom: 27px;
				margin-left: 25%;
			}
			p {
				font-family: "Nunito", sans-serif;
				font-weight: 300;
				font-size: 14px;
				color: #333333;
				width: 50%;
				margin-left: 25%;
				padding-bottom: 150px;
			}
		}
		.two {
			background-image: url(/css/image/image1.png);
			height: 100%;
			width: 100%;
		}
		.four {
			background-image: url(/css/image/image2.png);
			height: 100%;
			width: 100%;
		}
		.item6 {
			background-image: url(./image/image3.png);
			grid-column: 3/4;
			grid-row: 2/4;
			span {
				font-family: "Ubuntu", sans-serif;
				font-weight: 300;
				font-size: 30px;
				color: white;
				margin-left: 25%;
				display: block;
				margin-top: 87%;
			}
			i {
				width: 35px;
				height: 2px;
				display: block;
				background-color: white;
				margin-top: 12px;
				margin-bottom: 27px;
				margin-left: 25%;
			}
			p {
				font-family: "Nunito", sans-serif;
				font-weight: 300;
				font-size: 14px;
				color: white;
				width: 50%;
				margin-left: 25%;
				padding-bottom: 150px;
			}
		}
		.item7 {
			background-image: url(/css/image/image4.png);
			background-position: right;
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			grid-column: 1/3;
			grid-row: 3/4;
			span {
				font-family: "Ubuntu", sans-serif;
				font-weight: 300;
				font-size: 30px;
				color: white;
				margin-left: 12.5%;
				display: block;
				margin-top: 12%;
			}
			i {
				width: 35px;
				height: 2px;
				display: block;
				background-color: white;
				margin-top: 12px;
				margin-bottom: 27px;
				margin-left: 12.5%;
			}
			p {
				font-family: "Nunito", sans-serif;
				font-weight: 300;
				font-size: 14px;
				color: white;
				width: 25%;
				margin-left: 12.5%;
				padding-bottom: 150px;
			}
		}
	}
	.container5 {
		font-family: "Ubuntu", sans-serif;
		font-weight: 300;
		color: black;
		background-image: url(image/Group%2054.png);
		height: 100%;
		background-repeat: no-repeat;
		background-position: 0px 250px;
		.width1 {
			width: 70%;
			.heigth_w {
				margin-left: 10%;
				.heigth_w1 {
					.btn-bottom5 {
						text-decoration: none;
						color: #333333;
						font-family: "Ubuntu", sans-serif;
						font-weight: 700;
						font-size: 14px;
						padding: 25px 90px;
						background-color: #e5e1e1;
						border-radius: 100px;
						text-transform: uppercase;
						margin-left: 40px;
						margin-bottom: 240px;
					}
					h4 {
						font-size: 48px;
						font-weight: 300;
						margin-top: 180px;
						margin-bottom: 45px;
						margin-left: 20px;
					}
					.bottom-text {
						font-size: 24px;
						color: #333333;
						padding-bottom: 60px;
					}
					.w {
						margin-bottom: 60px;
						.icon-w {
							text-align: center;
							font-size: 60px;
							color: #cea740;
							svg {
								margin-bottom: 40px;
							}
							svg:first-child {
								margin-top: 7px;
								margin-bottom: 45px;
							}
						}
						.text-w {
							span {
								font-weight: 400;
								font-size: 22px;
							}
							p {
								font-size: 14px;
								color: #333333;
								padding-top: 30px;
							}
						}
					}
				}
			}
		}
	}
	.container6 {
		height: 100%;
		background-image: url(/css/image/back-6.png);
		background-color: rgba(0, 0, 0, 0.5);
		font-family: "Ubuntu", sans-serif;
		h4 {
			padding-top: 180px;
			text-align: center;
			font-size: 48px;
			color: white;
			font-weight: 300;
		}
		.bottom {
			padding-top: 140px;
			text-align: center;
			.well1 {
				a {
					display: inline-block;
					margin-bottom: 345px;
				}
				span {
					font-family: "Lato", sans-serif;
					font-weight: 300;
					font-size: 80px;
					color: #c89d28;
					.dol {
						position: relative;
						font-family: "Lato", sans-serif;
						font-weight: 300;
						font-size: 30px;
						color: #c89d28;
						top: -30px;
					}
				}
				.dol-bot {
					padding-top: 30px;
					padding-bottom: 37px;
					font-weight: 300;
					font-size: 22px;
					color: #ffffff;
				}
				.dol-bot2 {
					padding-top: 30px;
					padding-bottom: 37px;
					font-weight: 300;
					font-size: 22px;
					color: #ffffff;
				}
				.btr-6 {
					text-decoration: none;
					color: #333333;
					font-family: "Ubuntu", sans-serif;
					font-weight: 700;
					font-size: 14px;
					padding: 25px 50px;
					background-color: white;
					border-radius: 100px;
					text-transform: uppercase;
				}
				.btn-6 {
					text-decoration: none;
					color: #333333;
					font-family: "Ubuntu", sans-serif;
					font-weight: 700;
					font-size: 14px;
					padding: 25px 85px;
					background-color: white;
					border-radius: 100px;
					text-transform: uppercase;
				}
			}
			.well2 {
				a {
					display: inline-block;
					margin-bottom: 345px;
				}
				span {
					font-family: "Lato", sans-serif;
					font-weight: 300;
					font-size: 80px;
					color: #c89d28;
					.dol {
						position: relative;
						font-family: "Lato", sans-serif;
						font-weight: 300;
						font-size: 30px;
						color: #c89d28;
						top: -30px;
					}
				}
				.dol-bot {
					padding-top: 30px;
					padding-bottom: 37px;
					font-weight: 300;
					font-size: 22px;
					color: #ffffff;
				}
				.dol-bot2 {
					padding-top: 30px;
					padding-bottom: 37px;
					font-weight: 300;
					font-size: 22px;
					color: #ffffff;
				}
				.btr-6 {
					text-decoration: none;
					color: #333333;
					font-family: "Ubuntu", sans-serif;
					font-weight: 700;
					font-size: 14px;
					padding: 25px 50px;
					background-color: white;
					border-radius: 100px;
					text-transform: uppercase;
				}
				.btn-6 {
					text-decoration: none;
					color: #333333;
					font-family: "Ubuntu", sans-serif;
					font-weight: 700;
					font-size: 14px;
					padding: 25px 85px;
					background-color: white;
					border-radius: 100px;
					text-transform: uppercase;
				}
			}
			.well3 {
				a {
					display: inline-block;
					margin-bottom: 345px;
				}
				span {
					font-family: "Lato", sans-serif;
					font-weight: 300;
					font-size: 80px;
					color: #c89d28;
					.dol {
						position: relative;
						font-family: "Lato", sans-serif;
						font-weight: 300;
						font-size: 30px;
						color: #c89d28;
						top: -30px;
					}
				}
				.dol-bot {
					padding-top: 30px;
					padding-bottom: 37px;
					font-weight: 300;
					font-size: 22px;
					color: #ffffff;
				}
				.dol-bot2 {
					padding-top: 30px;
					padding-bottom: 37px;
					font-weight: 300;
					font-size: 22px;
					color: #ffffff;
				}
				.btr-6 {
					text-decoration: none;
					color: #333333;
					font-family: "Ubuntu", sans-serif;
					font-weight: 700;
					font-size: 14px;
					padding: 25px 50px;
					background-color: white;
					border-radius: 100px;
					text-transform: uppercase;
				}
				.btn-6 {
					text-decoration: none;
					color: #333333;
					font-family: "Ubuntu", sans-serif;
					font-weight: 700;
					font-size: 14px;
					padding: 25px 85px;
					background-color: white;
					border-radius: 100px;
					text-transform: uppercase;
				}
			}
		}
	}
	.container7 {
		height: 1300px;
		background-color: #e8e9ea;
		h3 {
			text-align: center;
			padding-top: 145px;
			padding-bottom: 70px;
			font-family: "Nunito", sans-serif;
			font-size: 48px;
			font-weight: 300;
		}
		.wrapper-grid {
			height: 600px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
			@include center;
			.btn {
				text-decoration: none;
				color: white;
				font-family: "Nunito", sans-serif;
				font-size: 10px;
				font-weight: 700;
				background-color: #8d7431;
				padding: 8px 16px 8px 16px;
				border-radius: 30px;
				position: relative;
				top: 20px;
				left: 46px;
				text-transform: uppercase;
			}
			.item1 {
				background-image: url(/css/image/item.png);
				background-repeat: no-repeat;
				grid-column: 1/3;
				grid-row: 1/7;
				.btn1 {
					text-decoration: none;
					color: white;
					font-family: "Nunito", sans-serif;
					font-size: 10px;
					font-weight: 700;
					background-color: #8d7431;
					padding: 8px 16px 8px 16px;
					border-radius: 30px;
					position: relative;
					top: 20px;
					left: 26px;
					text-transform: uppercase;
				}
				.caps {
					color: white;
					font-family: "Nunito", sans-serif;
					font-size: 30px;
					font-weight: 300;
					text-transform: uppercase;
					text-align: center;
					position: relative;
					top: 46.6%;
				}
				.span {
					font-family: "Nunito", sans-serif;
					font-size: 11px;
					font-weight: 900;
					text-transform: uppercase;
					text-align: center;
					color: #cccccc;
					position: relative;
					top: 51.6%;
					span {
						color: #c89d28;
						font-family: "Nunito", sans-serif;
						font-size: 11px;
						font-weight: 900;
						text-transform: uppercase;
					}
				}
			}
			.item2 {
				background-image: url(/css/image/item1.png);
				background-repeat: no-repeat;
				background-position: right;
				grid-column: 3/4;
				grid-row: 1/3;
			}
			.item3 {
				background-image: url(/css/image/item2.png);
				background-repeat: no-repeat;
				background-position: right;
				grid-column: 4/5;
				grid-row: 1/3;
			}
			.item6 {
				background-image: url(/css/image/item5.png);
				background-repeat: no-repeat;
				background-position: right;
				grid-column: 3/4;
				grid-row: 4/6;
			}
			.item7 {
				background-image: url(/css/image/item6.png);
				background-repeat: no-repeat;
				background-position: right;
				grid-column: 4/5;
				grid-row: 4/6;
			}
			.item8 {
				align-self: center;
				.textgrid {
					font-family: "Nunito", sans-serif;
					font-size: 18px;
					font-weight: 300;
					color: #333333;
					margin-left: 30px;
				}
			}
		}
		.item9 {
			position: relative;
			text-align: center;
			top: 8%;
			.btn-bottom {
				text-decoration: none;
				color: #333333;
				font-family: "Ubuntu", sans-serif;
				font-weight: 700;
				font-size: 14px;
				padding: 25px 90px;
				background-color: white;
				border-radius: 30px;
				text-transform: uppercase;
			}
		}
	}
	.container8 {
		margin-top: 200px;
		margin-bottom: 200px;
		.left_content {
			font-family: "Ubuntu", sans-serif;
			font-weight: 300;
			color: black;
			h4 {
				color: black;
				font-size: 30px;
				font-weight: 400;
			}
			p {
				font-size: 16px;
				.in_weight {
					font-weight: 500;
				}
			}
		}
		.left_icons svg {
			color: #cca438;
			font-size: 47px;
			margin-bottom: 95px;
		}
		.left_icons svg:first-child {
			margin-top: 15px;
		}
		.right_text {
			font-family: "Ubuntu", sans-serif;
			span {
				font-weight: 400;
				color: black;
				font-size: 22px;
				letter-spacing: 0px;
			}
			p {
				font-size: 14px;
				font-weight: 300;
				color: #333333;
				padding-top: 30px;
			}
			p:nth-last-child(4) {
				padding-top: 30px;
			}
		}
	}
	.container9 {
		height: 100vh;
		max-width: 1920px;
		min-height: 900px;
		background-image: url("/css/image/backgr-9.png");
		background-color: rgba(0, 0, 0, 0.5);
		background-size: cover;
		background-repeat: no-repeat;
		h3 {
			font-weight: 300;
			font-size: 48px;
			color: white;
			text-align: center;
			padding-top: 250px;
		}
		.item {
			text-align: center;
			margin-top: 115px;
			span {
				font-size: 80px;
				font-family: "lato", sans-serif;
				font-weight: 300;
				color: #c89d28;
			}
			p {
				font-family: "Ubuntu", sans-serif;
				font-weight: 300;
				font-size: 17px;
				color: #efefef;
				padding-top: 30px;
			}
		}
		.description {
			font-family: "Ubuntu", sans-serif;
			font-weight: 300;
			font-size: 24px;
			color: #999999;
			text-align: center;
			width: 42%;
			margin: 0 auto;
			padding-top: 120px;
		}
	}
	.container11 {
		background-image: url(/css/image/backgraund-11.png);
		height: 435px;
		text-align: center;
		h4 {
			color: white;
			font-family: "Ubuntu", sans-serif;
			font-weight: 300;
			font-size: 30px;
			padding-top: 120px;
			padding-bottom: 30px;
		}
		p {
			color: #cccccc;
			font-family: "Ubuntu", sans-serif;
			font-weight: 300;
			font-size: 22px;
			padding-bottom: 55px;
		}
		a {
			text-decoration: none;
			color: #333333;
			font-family: "Ubuntu", sans-serif;
			font-weight: 700;
			font-size: 14px;
			padding: 25px 100px;
			background-color: white;
			border-radius: 30px;
		}
	}
	footer {
		background-color: #0d0d0d;
		font-family: "Ubuntu", sans-serif;
		font-weight: 300;
		.wrapper-box1 {
			display: flex;
			padding-top: 175px;
			justify-content: space-between;
			border-bottom: 1px solid #1d1d1d;
			.left-box {
				flex-basis: 30%;
				h5 {
					font-size: 18px;
					font-weight: 300;
					color: white;
					padding-bottom: 35px;
					text-transform: uppercase;
				}
				p {
					font-size: 14px;
					color: #666666;
					padding-bottom: 45px;
				}
				.box-icon {
					max-width: 215px;
					display: flex;
					justify-content: space-between;
					padding-bottom: 106px;
					svg {
						font-size: 15px;
						color: #666666;
					}
				}
			}
			.rigth-box {
				display: flex;
				flex-basis: 30%;
				justify-content: space-between;
				margin-left: 50px;
				h6 {
					font-size: 18px;
					font-weight: 300;
					color: white;
					padding-bottom: 35px;
					text-transform: uppercase;
				}
				p {
					font-size: 14px;
					color: #999999;
				}
			}
		}
		.bot-foo {
			padding-top: 60px;
			padding-bottom: 130px;
			padding-left: 35px;
			color: #999999;
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 2px;
			.bot-foo span {
				color: #8d7431;
			}
		}
	}
}

@import "media.scss";
